<mat-toolbar class="footer" style="background-color: black;font-weight: bold;font-family:monospace;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 pull-right">
      <span class="pull-right" style="color: white;font-size: 18px;cursor: default;margin-left: 5px;">Copyright</span>
      <span (click)="instagram()" style="color: white;font-size: 21px;margin-left: 5px;" class="pull-right">|<img style="margin-left: 5px;cursor:pointer;" class="instaImage" height="30px"><span style="margin-left: 5px;" >|</span></span>
      <span (click)="facebook()" style="color: white;font-size: 21px;" class="pull-right"><img style="cursor:pointer;" class="facebbokImage" height="30px"></span>
    </div>

    <div class="col-xs-12 hidden-sm hidden-md hidden-lg pull-right" style="margin-right: -15px;">
      <span style="color: white;font-size: 17px;margin-top: 2px;margin-left: 5px;" class="pull-right">Copyright</span>
      <span (click)="instagram()" style="cursor:pointer;color: white;font-size: 21px;margin-left: 5px;" class="pull-right">|<img style="margin-left: 5px;"  class="instaImage" height="30px"><span style="margin-left: 5px;" >|</span></span>
      <span (click)="facebook()" style="cursor:pointer;color: white;font-size: 21px;" class="pull-right"><img class="facebbokImage" height="30px"></span>
    </div>


    <!-- <div class="hidden-sm hidden-md hidden-lg pull-right">
      <button style="background-color: black;border-radius: 7px;border: 2px solid white;"><span style="margin-top:3px;color: white;" class="glyphicon glyphicon-menu-hamburger"></span></button>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-1 pull-right">
      <span style="color: white;font-size: 19px;">Contact</span>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2 col-lg-1 pull-right">
      <span style="color: white;font-size: 19px;">My Story</span>
    </div> -->
  </div>
</mat-toolbar>

