<div class="container-fluid">
  <div
    class="col-xs-12 hidden-sm hidden-md hidden-lg rajBackgroundImage"
    style="margin-top: 20px"
  ></div>
  <!-- <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-top: 20px;text-align: center;">
    <a style="font-size: 25px;color: black;font-family: cursive;cursor: pointer;" href="assets/PDFs/Karan.pdf" download="Karan.pdf">
      <u>Resume</u><span style="margin-left: 5px;font-size: 20px;" class="glyphicon glyphicon-download"></span></a>
  </div> -->
  <div class="row" style="margin-top: 30px">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-4 col-md-5 col-lg-5" style="margin-top: 20px">
      <div class="row">
        <span class="" style="font-weight: bold; font-size: 30px"
          >I am Karandeep Ajmani</span
        >
      </div>
      <div class="row" style="margin-top: 10px">
        <span style="font-size: 20px; color: #464646"
          >Engineer | Entrepreneur</span
        >
        <!-- <span style="font-size: 20px;color: #464646;">Engineer | Trader | Entrepreneur</span> -->
      </div>
      <div class="row">
        <hr
          style="
            border: 0.8px solid gray;
            width: 90%;
            margin-left: 1px;
            margin-top: 10px;
          "
        />
      </div>
      <div class="row" style="margin-bottom: 15px">
        <span style="font-size: 16px"
          ><b>UI Developer</b> by profession. I develop <b>responsive</b> web
          sites.</span
        >
      </div>
      <!-- <div class="row" style="margin-bottom: 15px;">
        <span style="font-size: 16px;"><b>2. </b>I'm a <b>Intraday</b> as well as a <b>Swing trader</b>. I follow price action rigorously.</span>
      </div>
      <div class="row" style="margin-bottom: 25px;">
        <span style="font-size: 16px;"><b>3. </b>I'm having accuracy of more than <b>70% winning trades</b> from past <b>3 months</b>.</span>
      </div> -->
      <div class="row" style="margin-bottom: 25px">
        <span style="font-size: 16px"
          >Want your own website? Let's connect and discuss about it. It won't
          cost you much.</span
        ><br />
        <span style="font-size: 16px"
          ><b>I can help YOU</b> to expand your business and knowledge.</span
        >
      </div>
    </div>
    <div
      class="hidden-xs col-sm-4 col-md-5 col-lg-5 raj1BackgroundImage"
      style="margin-top: 20px; margin-bottom: 20px"
    ></div>
  </div>
  <div class="row">
    <div class="hidden-xs col-sm-7 col-md-7 col-lg-7"></div>
    <!-- <div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
      <a
        style="
          font-size: 25px;
          color: black;
          font-family: cursive;
          cursor: pointer;
        "
        href="assets/PDFs/Karan.pdf"
        download="Karan.pdf"
      >
        <u>Resume</u
        ><span
          style="margin-left: 5px; font-size: 20px"
          class="glyphicon glyphicon-download"
        ></span
      ></a>
    </div> -->
  </div>
</div>
