<div class="container-fluid backgroundImage">
  <div class="row">
      <div class="hidden-xs col-sm-12 col-md-12 col-lg-12" style="margin-top: 235px;text-align: center;">
        <div class="row">
          <span style="font-size: 27px;color: white;font-weight: bold;"><p>I help brands and people socially to</p></span>
        </div>
        <div class="row" style="margin-top: 15px;">
          <span style="font-size: 46px;color: white;font-weight: bold;"><p>'Expand their business'</p></span>
        </div>
        <div class="row" style="margin-top: 15px;">
          <button (click)="letsConnect()"  class="letsConnect">
            <b>Let's Connect</b>
            <span class="glyphicon glyphicon-arrow-right spanArrow"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="margin-top: 235px;text-align: center;">
        <div class="row">
          <span style="font-size: 27px;color: white;font-weight: bold;"><p>I help brands and people</p></span>
          <span style="font-size: 27px;color: white;font-weight: bold;"><p>socially to</p></span>
        </div>
        <div class="row" style="margin-top: 15px;">
          <span style="font-size: 46px;color: white;font-weight: bold;"><p>'Expand their</p></span>
          <span style="font-size: 46px;color: white;font-weight: bold;"><p style="margin-top: 30px;">business'</p></span>
        </div>
        <div class="row" style="margin-top: 15px;">
          <button (click)="letsConnect()"  class="letsConnect">
            <b>Let's Connect</b>
            <span class="glyphicon glyphicon-arrow-right spanArrow"></span>
          </button>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 60px;margin-bottom: 20px;">
  <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
          <span style="font-weight: bold;font-size: 26px;color: black;"><p>Karandeep Singh Ajmani</p></span>
          <span style="font-weight: bold;font-size: 26px;color: black;"><p>helps you GROW</p></span>
          <span style="font-size: 16px;"><p>I help individual & organizations grow socially by taking their business online.</p></span>
      </div>
      <!-- <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
      <div class="hidden-xs col-sm-5 col-md-5 col-lg-5 text-center">
          <video height="250" width="300" controls style="border:2px solid #464646;border-radius :7px">
              <source src="../../assets/Videos/mobileView.mp4" type="video/mp4">
          </video>
          <h4 class="text-center"><b>Mobile View</b></h4>
      </div> -->
  </div>
</div>


<!--
<div class="container-fluid" style="border: 1px solid black;margin-top: 20px;margin: 30px;">
  <div class="col-lg-12" style="margin: 15px;">
    <div class="col-lg-4" style="margin-left: -15px;">
      <div class="row" style="font-size: 18px;">
        <span><b>Dr. Ashok Gulani</b></span>
      </div>
      <div class="row" >
        <span><b>MBBS</b></span>
      </div>
      <div class="row">
        <span><b>General Physician & Surgeon</b></span>
      </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-3" style="margin-left: -15px;">
        <span>Receipt No.</span>
      </div>

      <div class="col-lg-1" style="border-bottom: 1px dashed black;margin-top: 15px;margin-left: -25px;">
        <p style="margin-top: -15px;position: absolute;font-family: cursive;">7</p>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-6" style="margin-left: -15px;">
        <span>Received Rs. (Cash/Cheque)</span>
      </div>
      <div class="col-lg-6" style="border-bottom: 1px solid black;margin-left: -20px;margin-top: 15px;">

      </div>

    </div>

    <div class="row">
        <span>with thanks.</span>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-2" style="margin-left: -15px;">
        <span>From</span>
      </div>
      <div class="col-lg-10" style="border-bottom: 1px solid black;margin-left: -20px;margin-top: 15px;">

      </div>

    </div>

    <div class="row" style="margin-top: 2px;">
      <div class="col-lg-12" style="margin-left: -15px;">
        <span>as under - (Consultant/Procedure/Hospital Visit/Dressing/Other)</span>
      </div>
    </div>


  </div>

<div class="col-lg-1">

  <div class="row" >
  </div>
  <div class="row" style="margin-top: -5px;margin-left: 35px;">
  </div>
  <div class="row" style="margin-top: -5px;">
  </div>

<div class="row" style="margin-top: 20px;">
  <div class="col-lg-3" style="margin-left: -15px;">
  </div>
  <div class="col-lg-3" style="margin-top: 15px;margin-left: -60px;">

  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-lg-12" style="border-bottom: 1px solid black;margin-left: -35px;margin-top: 89px;">

  </div>
</div>

</div>

  <div class="col-lg-4" style="margin-left: -15px;">
    <div class="row" >
      <span><b>Clinic :</b></span><span> 994, Khatiwala Tank</span>
    </div>
    <div class="row" style="margin-top: -5px;margin-left: 35px;">
      <span>INDORE</span>
    </div>
    <div class="row" >
      <span>Mobile : 9893065033</span>
    </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3" style="margin-left: -15px;">
      <span>Date</span>
    </div>
    <div class="col-lg-3" style="border-bottom: 1px dashed black;margin-top: 15px;margin-left: -60px;">

    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-5" style="border-bottom: 1px solid black;margin-left: -20px;margin-top: 20px;">

    </div>
  </div>

</div>



  </div>
</div> -->
